.profile
    display: flex
    flex-direction: column
    width: 100%

    &-title
        font-size: 48px
        margin-bottom: 0

.title--red
    color: #FF0101

.erreur
    margin: 100px
    color: red
    font-weight: 600
    font-size: 20px
