@use './variables' as *
@import normalize.css

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  line-height: 1.4
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: $font-family
  color: $black

.app
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow: hidden
  &-container
    // display: flex
    // flex: 1
    overflow: hidden
    padding-left: 12.5vw
    padding-top: 12.5vw
