@import normalize.css
@import variables.sass

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  line-height: 1.4
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: $font-family
  color: $black

.app
  display: flex
  flex-direction: column
  height: 100vh
  overflow: hidden
  &-container
    display: flex
    flex: 1
    overflow: hidden
    padding-left: 15.5vw
    padding-top: 15.5vw
