@use '../../styles/variables' as *

.home
  // padding-left: 15.5vw
  // padding-top: 15.5vw
  &-title
    font-size: clamp(1.5rem, -0.2727rem + 3.6364vw, 3rem)
    font-weight: 500
    line-height: 24px
    margin-bottom: 41px
    // &__username
    //   color: $primary-color
  &__user-container
    display: flex
    align-items: center
    margin-bottom: 41px
    background-color: $primary-color
    width: 200px
    padding: 20px
    border-radius: 5px
    font-size: clamp(0.875rem, 0.5795rem + 0.6061vw, 1.125rem)
    font-weight: 400
    color: $white
    text-decoration: none
    &:hover
      cursor: pointer
      background-color: $primary-color-hover
    // &-avatar
    //   width: 50px
    //   height: 50px
    //   border-radius: 50%
    //   margin-right: 20px
    // &-info
    //   display: flex
    //   flex-direction: column
    //   &__username
    //     font-size: clamp(1rem, 0.4545rem + 1.8182vw, 1.5rem)
    //     font-weight: 500
    //     margin-bottom: 5px
    // &-link
    //   font-size: clamp(0.875rem, 0.5795rem + 0.6061vw, 1.125rem)
    //   font-weight: 400
    //   color: $white
