@use '../../styles/variables' as *

.sidebar
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  height: 100vh
  background-color: $black
  padding: 11vw 1.111vw 4.167vw
  position: fixed
  overflow: hidden
  text-align: center

  &__nav
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-grow: 1

  &__list
    display: flex
    flex-direction: column-reverse
    justify-content: space-around
    align-items: center
    width: 100%
    padding: 0
    margin: 0
    list-style: none

  // &__item
  //   margin-bottom: 10px

  &__link
    display: block
    padding: 10px

  &__icon
    width: 4.444vw
    height: auto

  &__text
    color: $white
    writing-mode: vertical-rl
    transform: rotate(180deg)
    font-size: 14px
